<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690762274936-ruptv36ilm98fvvc0sa3n8cm0ssfjd9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690762274936-ruptv36ilm98fvvc0sa3n8cm0ssfjd9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBUjW3wcy4Eks5tZiwh1DFZ5IZqFk-dzr8</string>
	<key>GCM_SENDER_ID</key>
	<string>690762274936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelManagementSystem1</string>
	<key>PROJECT_ID</key>
	<string>hostelbooking2-1dffd</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelbooking2-1dffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690762274936:ios:babda15992fe8fc3c1758d</string>
</dict>
</plist>